# Automação Web 
## Busca de preços de commodities


Mini projeto desenvolvido em Python, utilizando a biblioteca Selenium, que visa automatizar a coleta de preços de commodities de forma eficiente e automatizada. Com o crescente volume de informações disponíveis na internet, é fundamental buscar maneiras de automatizar tarefas repetitivas para otimizar o tempo e aumentar a precisão dos dados coletados.

A coleta de preços de commodities é uma tarefa importante para diversos setores como agricultura, indústria e comércio. No entanto, realizar essa tarefa manualmente pode ser demorado e tolerante a erros. Com a automação web, é possivel extrair de maneira confiável os preços atualizados das commodities desejadas a partir de fontes online.

Com a coleta automatizada de preços de commodities, você economiza um tempo precioso, eliminando a necessidade de realizar pesquisas manuais repetitivas. Essa solução também aumenta a confiabilidade dos dados coletados, minimizando erros humanos e fornecendo informações atualizadas e precisas para suas análises e tomadas de decisão.


#### Objetivo
    - Coletar os preços das commodities na internet de forma automatizada . Atualizar a base com os novos valores, comparar os preços atuais com os ideias e decidir sua compra ou nao . <br>
Criei uma pequena base de dados fictícia contendo preços de commodities. Essa base de dados servirá como referência para a comparação com os novos preços que serão buscados automaticamente.

In [45]:
from selenium import webdriver
import pandas as pd

In [46]:
df = pd.read_excel("commodities.xlsx")
display(df)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [47]:
nav = webdriver.Chrome()

for linha in df.index:
    produto = df.loc[linha, 'Produto']
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")                # Alteraçoes caracteres especiais
    
    
    
    link = f'https://www.melhorcambio.com/{produto}-hoje'               #Site usado www.melhorcambio.com
    nav.get(link)
    
    preco = nav.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')        #elemento xpath
    preco = preco.replace('.', '').replace(',', '.')                                # substituir separador 
    print(produto, preco)      
    
    df.loc[linha, 'Preço Atual'] = float(preco)                          #retorna para preco atual o valor atualizado
    
display(df)

Milho 57.67
Soja 133.59
Boi 258.00
Petroleo 355.32
Algodao 373.52
Acucar 141.59
Cafe 856.84
Ouro 299.33
Tilapia 9.70

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.67      NaN
1      Soja       163.59       133.59      NaN
2       Boi       282.20       258.00      NaN
3  Petróleo       424.37       355.32      NaN
4   Algodão       497.76       373.52      NaN
5    Açúcar       136.23       141.59      NaN
6      Café      1092.87       856.84      NaN
7      Ouro       321.77       299.33      NaN
8   Tilápia         9.05         9.70      NaN

In [48]:
# Definir o comprar com sim ou nao a depender dos valores 
df['Comprar'] = df['Preço Atual'] < df['Preço Ideal']
display(df)


# exportar base atualizada
df.to_excel("df_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.67     True
1      Soja       163.59       133.59     True
2       Boi       282.20       258.00     True
3  Petróleo       424.37       355.32     True
4   Algodão       497.76       373.52     True
5    Açúcar       136.23       141.59    False
6      Café      1092.87       856.84     True
7      Ouro       321.77       299.33     True
8   Tilápia         9.05         9.70    False

In [49]:
nav.quit()